
.idea/workspace.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/jfoenix_8_0_8.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/jfoenix_0_0_0_SNAPSHOT_retrolambda.xml
.idea/description.html
.idea/compiler.xml
